html, body { height: 100%; }

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #333;
  background: url('room-pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Playfair Display', Georgia, serif;
  font-style: italic;
  font-size: 40px;
}

header h2 {
  border-top: 1px solid #333;
  display: inline-block;
  padding-top: 0;
  margin: 0;
  font-weight:300;
}

a {
  color: #333;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #333;
  transition: all 0.5s ease;
}

a:hover {
  color: #8cf1d6;
  border-color: #8cf1d6;
}

a.no-link-style {
  border: none;
  padding-bottom: 0;
}

ul {
  list-style: none;
  margin: 0; padding: 0;
}

.wrapper {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  padding: 60px 20px 200px;
}

.entries {
  padding: 20px 20px 0 20px;
  margin-top: 30px;
  overflow: auto;
}

.entry {
  padding: 20px;
  margin-bottom: 8px;
  background: #fff;
  opacity: .75;
}

.metadata {
  text-transform: uppercase;
  font-size: 12px;
  color: #bababa;
}

.metadata span {
  padding-right: 9px;
}

.guest-stars {
  transition: color 0.5s ease;
  cursor: default;
}

.guest-stars:hover {
  color: rgba(211, 241, 30, 0.71)
}
.guest-comment p {
  font-size: 18px;
  margin: 4px 0;
}

.forkngo-banner img {
  width: 150px;
  padding-top: 20px;
}

footer {
  position: fixed;
  bottom: 0px;
  background: #F8F9FB;
  left: 0;
  right: 0;
  padding: 10px 20px;
  text-align: center;
  font-size: 11px;
}
